a {
	color: red;
}

div {
	border: 1px solid black;
}

li {
	border: 1px solid black;
}

/* Classes */

.bio-box {
	border:  1px solid black;
}

.bio-box a {
	color:  green;
}
/* IDs */

#exec-bio {
	background-color: lightgray;
}